@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* палитра цветов */
/* главный цвет фона, цвет главного заголовка, #FFFFFF */
/* цвет заголовков, ссылок без ховера #212121 */
/* цвет абзацев, ссылок контактов и адреса #757575 */
/* цвет кнопок, ссылок при ховере, части логотипа #2196F3 */
/* цвет фона футера, фона секции героя #2F303A */
/* время переходов 250мс */
/* временная функция cubic-bezier(0.4, 0, 0.2, 1) */
/* задаем переменные */
h1,
h2,
h3,
h4,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1199px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: block;
  color: var(--text-heder-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.165;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1929;
  }
}

@media (max-width: 768px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo span {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.nav__list, .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item, .header__item {
  position: relative;
}

.nav__link, .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .header__link:hover, .nav__link:focus, .header__link:focus {
  color: #2196f3;
}

.nav__link:hover .header__icon, .header__link:hover .header__icon,
.nav__link:hover .header__text,
.header__link:hover .header__text {
  color: #2196f3;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  .nav__item {
    margin-left: 93px;
  }
}

.nav__link.curent {
  color: #2196f3;
}

.nav__link.curent::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

/* контакты в шапке */
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.14;
  }
}

@media (min-width: 1200px) {
  .header__contacts {
    margin-left: auto;
  }
}

.header__icon {
  margin-right: 10px;
  width: 14px;
  height: 14px;
}

@media (min-width: 1200px) {
  .header__icon {
    width: 16px;
    height: 16px;
  }
}

.header__icon,
.header__text {
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

@media (min-width: 1200px) {
  .contacts__items:not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts__items:not(:first-child) {
    margin-top: 10px;
  }
}

.menu__button {
  display: block;
  margin: 10px -5px 0 auto;
  padding: 0;
  background-color: transparent;
}

.menu__button .menu__close {
  display: none;
}

.menu__button.is-open .menu__close {
  display: block;
}

.menu__button.is-open .menu__open {
  display: none;
}

@media (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button:hover .menu__icon,
.menu__button:focus .menu__icon {
  fill: #2196f3;
}

.hero {
  text-align: center;
  max-width: 1600px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  /* background-position: center;
  background-color: #2f303a; */
  margin-top: 0px;
}

.hero__title {
  padding-top: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  margin-top: 30px;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #188ce8;
}

@media (min-width: 1199px) {
  .qualities {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .qualities__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 768px) {
  .qualities__items {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .qualities__items:not(:first-child) {
    margin-top: 30px;
  }
}

@media (min-width: 1199px) {
  .qualities__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.qualities__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .qualities__title {
    text-align: center;
  }
}

.qualities__text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.786;
  letter-spacing: 0.032em;
  color: #757575;
}

.qualities__svg {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}

.qualities__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .activities {
    display: none;
  }
}

.activities__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__items {
  position: relative;
}

.activities__items:not(:first-child) {
  margin-left: 30px;
}

.activities__text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: #2f303acc;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teem {
  text-align: center;
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .teem__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.teem__foto {
  width: 100%;
}

.teem__items {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .teem__items {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media (min-width: 1199px) {
  .teem__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

@media (max-width: 768px) {
  .teem__items:not(:first-child) {
    margin-top: 30px;
  }
}

.teem__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.teem__name-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.teem__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social-networks__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
  color: white;
}

.social-networks__items {
  display: block;
}

.social-networks__items:not(:first-child) {
  margin-left: 10px;
}

.social-networks__icon {
  margin-top: 12px;
  margin-bottom: 12px;
  fill: currentColor;
}

.social-networks__link--inverse {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #ffffff1a;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.social-networks__link--inverse:hover, .social-networks__link--inverse:focus {
  background-color: #2196f3;
}

.clients {
  text-align: center;
  background-color: #ffffff;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__items {
  display: block;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
}

@media (min-width: 768px) {
  .clients__items {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

@media (min-width: 1199px) {
  .clients__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: block;
  color: #afb1b8;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  outline: 1px solid #2196f3;
}

.clients__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  margin-top: 0px;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__logo {
  color: #ffffff;
}

@media (max-width: 767px) {
  .footer__logo {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address__list {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.address__items {
  margin-top: 9px;
}

.address__link {
  display: block;
  color: #757575;
}

.address__link--white {
  color: #ffffff;
}

.footer__conect {
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__conect {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .footer__conect {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.footer__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.footer__social-networks {
  margin-top: 20px;
  padding: 0;
}

.footer__subscribe {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .footer__subscribe {
    margin-top: 12px;
    margin-left: auto;
  }
}

.footer__label-form {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__label-form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .footer__label-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__input {
  padding-left: 16px;
  margin-right: 12px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .footer__input {
    width: 350px;
  }
}

.footer__button::after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/send.png);
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 609px;
  width: 95%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1199px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

@media (min-width: 480px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}

.modal__close {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__client-form {
  padding: 40px;
}

.modal__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.modal__input {
  margin: 0;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:not(textarea) {
  height: 40px;
  padding-left: 42px;
}

.modal__input:focus {
  outline: 1px solid #2196f3;
}

.modal__input:focus + .modal__icon-form {
  fill: #2196f3;
}

.modal__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__icon-form {
  position: absolute;
  left: 12px;
  bottom: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1199px) {
  .modal__checkbox {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media (min-width: 1199px) {
  .modal__link {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__icon-check {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check-input:checked + .modal__icon-check {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-color: #2196f3;
}

.modal__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.filtr {
  padding-bottom: 0;
}

.section.progect {
  padding-top: 0;
}

.filtr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filtr__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filtr__items {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.filtr__button {
  cursor: pointer;
  margin-right: 8px;
  height: 38px;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__button:hover, .filtr__button:focus {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.project {
  padding-top: 0;
}

@media (min-width: 768px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.project__items {
  outline: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__items:hover, .project__items:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__items:hover .project__overlay-text,
.project__items:focus .project__overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 768px) {
  .project__items {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media (min-width: 1199px) {
  .project__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media (max-width: 768px) {
  .project__items:not(:first-child) {
    margin-top: 30px;
  }
}

.project__foto {
  width: 100%;
}

.project__items-text {
  padding: 20px 24px;
}

.project__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  margin-top: 4px;
  margin-bottom: 0;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__text--popup {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(0);
          transform: translatey(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */