.activities__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activities__list {
  display: flex;
}
.activities__items {
  position: relative;
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.activities__text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: #2f303acc;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  position: absolute;
  bottom: 0;
  width: 100%;
}
