.header {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  align-items: center;
}
.header__menu {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    // height: 100%;
    height: 796px;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;

    &.is-hidden {
      display: none;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
%list {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
%item {
  position: relative;
}
%link {
  display: flex;
  align-items: center;
  cursor: pointer;

  color: $headerTextColor;
  transition: color $time $timeFunction;
  &:hover,
  &:focus {
    color: $linkNavHover;
  }

  &:hover .header__icon,
  &:hover .header__text {
    color: $linkNavHover;
  }
}

// навигация
.nav {
  align-items: center;
  display: flex;
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav__list {
  @extend %list;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.nav__item {
  @extend %item;
  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  @media (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: 1200px) {
    margin-left: 93px;
  }
}
.nav__link {
  @extend %link;
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}
.nav__link.curent {
  @media (min-width: 768px) {
    &::after {
      position: absolute;
      bottom: -1px;
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $linkNavHover;
    }
  }
  color: $linkNavHover;
}

.header__list {
  @extend %list;
}
.header__item {
  @extend %item;
}

.header__link {
  @extend %link;
}

/* контакты в шапке */
.header__contacts {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: auto;
  }

  @media (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.14;
  }
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}
.header__icon {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }

  @media (min-width: 1200px) {
    width: 16px;
    height: 16px;
  }
}
.header__icon,
.header__text {
  color: $textColor;
  align-items: center;

  fill: currentColor;
}
.header__text {
  @media (max-width: 767px) {
    &.tel {
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
    }
    &.mail {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }
  }
}
.contacts__items {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-top: 32px;
    }
  }

  @media (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
.menu__button {
  display: block;
  margin: 10px -5px 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: $linkNavHover;
  }
}
.menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
}

.header__social {
  margin-top: 64px;
  @media (min-width: 767px) {
    display: none;
  }
}

.social__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.social__items {
  display: inline-block;
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}
