.header {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  width: 100%;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
%list {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
%item {
  position: relative;
}
%link {
  display: flex;
  align-items: center;
  cursor: pointer;

  color: $headerTextColor;
  transition: color $time $timeFunction;
  &:hover,
  &:focus {
    color: $linkNavHover;
  }

  &:hover .header__icon,
  &:hover .header__text {
    color: $linkNavHover;
  }
}

// навигация
.nav {
  align-items: center;
  display: flex;
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav__list {
  @extend %list;
}
.nav__item {
  @extend %item;
  @media (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: 1200px) {
    margin-left: 93px;
  }
}
.nav__link {
  @extend %link;
}
.nav__link.curent {
  color: $linkNavHover;
  &::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $linkNavHover;
  }
}

.header__list {
  @extend %list;
}
.header__item {
  @extend %item;
}

.header__link {
  @extend %link;
}

/* контакты в шапке */
.header__contacts {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.14;
  }
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}
.header__icon {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  @media (min-width: 1200px) {
    width: 16px;
    height: 16px;
  }
}
.header__icon,
.header__text {
  color: $textColor;
  align-items: center;

  fill: currentColor;
}
.contacts__items {
  @media (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
.menu__button {
  display: block;
  margin: 10px -5px 0 auto;
  padding: 0;
  // border: none;
  background-color: transparent;
  & .menu__close {
    display: none;
  }
  &.is-open .menu__close {
    display: block;
  }
  &.is-open .menu__open {
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: $linkNavHover;
  }
}
