.hero {
  text-align: center;

  max-width: 1600px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  /* background-position: center;
  background-color: #2f303a; */
  margin-top: 0px;
}
.hero__title {
  padding-top: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  margin-top: 30px;
}
