.logo {
  display: block;
  // padding-top: 16px;
  // padding-bottom: 16px;
  color: var(--text-heder-color);

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.165;
  letter-spacing: 0.03em;

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.1929;
  }
  @media (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.logo span {
  color: #2196f3;
}
