.logo {
  display: block;
  color: var(--text-heder-color);

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1929;
  letter-spacing: 0.03em;
}
.logo span {
  color: #2196f3;
}
