.project {
  padding-top: 0;
}
.project__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  // display: flex;
  // flex-wrap: wrap;
  // padding-top: 50px;
  // margin-left: -30px;
  // margin-top: -30px;
}
.project__items {
  // margin-left: 30px;
  // margin-top: 30px;
  // flex-basis: calc(100% / 3 - 30px);
  outline: 1px solid #eeeeee;

  transition: box-shadow $time $timeFunction;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project__overlay-text,
  &:focus .project__overlay-text {
    transform: translateY(-100%);
  }
  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media (min-width: 1199px) {
    flex-wrap: nowrap;
    flex-basis: calc(100% / 3 - 30px);
  }
  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
.project__foto {
  width: 100%;
}
.project__items-text {
  padding: 20px 24px;
}

.project__title {
  color: $headerTextColor;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  margin-top: 4px;
  margin-bottom: 0;
  color: $textColor;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__text--popup {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translatey(0);
  transition: transform $time $timeFunction;

  display: block;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}
