.qualities {
  @media (min-width: 1199px) {
    padding-bottom: 0;
  }
}

.qualities__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.qualities__items {
  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media (min-width: 1199px) {
    flex-wrap: nowrap;
    flex-basis: calc(100% / 4 - 30px);
  }
  // @media (max-width: 768px) {
  //   &:not(:first-child) {
  //     margin-top: 30px;
  //   }
  // }
}
.qualities__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.qualities__text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.786;
  letter-spacing: 0.032em;
  color: $textColor;
}
.qualities__svg {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
.qualities__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
