/* палитра цветов */
/* главный цвет фона, цвет главного заголовка, #FFFFFF */
/* цвет заголовков, ссылок без ховера #212121 */
/* цвет абзацев, ссылок контактов и адреса #757575 */
/* цвет кнопок, ссылок при ховере, части логотипа #2196F3 */
/* цвет фона футера, фона секции героя #2F303A */
/* время переходов 250мс */
/* временная функция cubic-bezier(0.4, 0, 0.2, 1) */

/* задаем переменные */

$headerTextColor: #212121;
$backgroundColorMain: #ffffff;
$linkNavHover: #2196f3;
$buttonColor: #2196f3;
$buttonColorHover: #188ce8;
$textColor: #757575;
$backgroundFooterColor: #2f303a;
$time: 250ms;
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
